@import url('./reset.css');

/* GENERAL STYLES */
body {
  background-color: #f7f7f7;
}

.container {
  max-width: 1130px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
}

/* HOME */

.home-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.home-link {
  font-size: 2rem;
}

/* TIMER SECTION */

.timer-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.input-container {
  display: flex;
  justify-content: center;
  row-gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 7rem;
}

.date-input,
.start-timer-btn {
  padding: .5rem;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 3rem;
  color: #542929;
  background-color: #fff;
}

.timer {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  flex-wrap: wrap;
  font-size: 2rem;
  text-transform: uppercase;
  color: #542929;
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.value {
font-size: 50px;
font-weight: 700;
}


/* ANNOUNCEMENT */
